

/*Makes paddoung 0*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
	background-color: gray;
	font-family: "Times New Roman";
}

.tab {
	max-width: auto;
	text-align: center;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;

}

.active{
	padding: 10px;
	border: 5px solid black;
	border-radius: 200px;
	font-size: 30px;
}

.mainp{
	margin-top: 60px;
	padding: 1px;
	border-radius: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.container{
	border: 0px solid rgba(0,0,0,0);
	display: grid;
	grid-template-rows: auto auto;
}

header{
	border-radius: 100px;
	background-color: skyblue;
	padding: 0.5px;
	font-size: 50px;

}